/* ----------------------*/
/* ---- Formulaires ---- */
/* ----------------------*/

.frm-ligne {
  margin-bottom: 1.5rem;
}



.std-form {
  label {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 0.4rem;
  }

  .inline-label {
    display: inline;
    font-size: 1rem;
  }

  input:not([type="submit"]),
  textarea {
    color: $body-color;
    padding: 0.5rem;
    line-height: 1.5;
    margin-bottom: 0.5em;
    width: 100%;
    max-width: 28rem;
    border: 1px solid lighten($body-color, 20);
    &:focus {
      border-color: $primary;
    }
  }

  fieldset {
    padding: 2rem;
    margin: 0;
  }

  fieldset > div {
    margin-bottom: 2rem;
  }

  legend {
    padding: 0 1rem;
  }

  textarea {
    padding: 1rem;
  }

  select {
    min-width: 250px;
    padding: 0.5rem;
    background-color: $body-bg;
    color: $body-color;
  }
}
