.table-actions {
  img {
    width: 120px;
  }
}

.list-actions{
    @extend .list-unstyled;
    li{
        @extend .border-bottom;
    }
    a{
        @extend .d-block;
        @extend .pt-1;
        @extend .pb-1;
    }
}

form{
    max-width: 800px;
}

.row .form-group{
    @extend .col-md-6;
}

.erreur{
    display: inline-block;
}